.page {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.about-programm{
    position: absolute;
    right: 0;
    left: 0;
    padding: 20px;
    background-color: green;
    color:yellow;
    text-align: center;
}
.alert-box {
    position: fixed;
    top: 0;
    right: -290px;
    width: 250px;
    border: 3px outset #ecebe6;
    background-color: #cfcec0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 30px;
}

.alert-box__icon:before {
    content: "";
    display: block;
    width: 50px;
    height: 43px;
    background-image: url(../img/alert.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.modal-window {
    min-width: 200px;
    min-height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 3px outset #ecebe6;
    background-color: #cfcec0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    /*display: none;*/
}

.start {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.start__button {
    width: 200px;
    height: 50px;
    border: 3px outset #ecebe6;
}

form:not(.start) {
    display: none;
}

.window-header {
    color: white;
    height: 28px;
    background: -webkit-gradient(linear, left top, right top, from(#002b64), to(#92c6eb));
    background: linear-gradient(to right, #002b64, #92c6eb);
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.window-header__text {
    padding-left: 5px;
}

.window-header__close {
    width: 20px;
    height: 17px;
    position: absolute;
    right: 5px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border: 3px outset #ecebe6;
    background-color: #cfcec0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.window-header__close:before {
    content: "";
    width: 12px;
    height: 12px;
    background: url(../img/cross.png) 50% 50% no-repeat;
}

.window-content {
    padding: 30px 26px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 300px;
}

.form-label {
    vertical-align: bottom;
    margin-right: 5px;
    margin-bottom: 10px;
}

.form-input {
    height: 25px;
    border: 2px inset #ecebe6;
}

.input-wrap:not(:last-child) {
    margin-bottom: 30px;
}

.form-input_normal {
    width: 150px;
}

.form-input_wide {
    width: 250px;
}

.input-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.input-wrap.row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.form-input.checkbox {
    margin: 0;
    height: auto;
}

.form-label.checkbox {
    width: 170px;
}

.buttons-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.form-button {
    min-width: 100px;
    height: 32px;
    border: 3px outset #ecebe6;
    background-color: #cfcec0;
}

.form-button.hidden {
    display: none;
}